apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Release.Namespace }}
  name: switcher-api
  labels:
    {{- include "switcher-api.labels" . | nindent 4 }}
data:
  # Global settings
  SWITCHER_API_LOGGER: {{ .Values.api.env.switcherApiLogger | quote }}
  HISTORY_ACTIVATED: {{ .Values.api.env.historyActivated | quote }}
  METRICS_ACTIVATED: {{ .Values.api.env.metricsActivated | quote }}
  GOOGLE_SKIP_AUTH: {{ .Values.api.env.googleSkipAuth | quote }}
  METRICS_MAX_PAGE: {{ default 50 .Values.api.env.metricsMaxPage | quote }}
  MAX_STRATEGY_OPERATION: {{ default 100 .Values.api.env.strategyMaxOperation | quote }}
  RELAY_BYPASS_HTTPS: {{ .Values.api.env.relayBypassHttps | quote }}
  RELAY_BYPASS_VERIFICATION: {{ .Values.api.env.relayBypassVerification | quote }}
  REGEX_MAX_TIMEOUT: {{ default 3000 .Values.api.env.regexMaxTimeout | quote }}
  REGEX_MAX_BLACLIST: {{ default 50 .Values.api.env.regexMaxBlacklist | quote }}
  MAX_REQUEST_PER_MINUTE: {{ default 0 .Values.api.env.maxRequestPerMinute | quote }}
  JWT_ADMIN_TOKEN_RENEW_INTERVAL: {{ default "5m" .Values.api.env.jwtAdminTokenRenewInterval | quote }}
  JWT_CLIENT_TOKEN_EXP_TIME: {{ default "5m" .Values.api.env.jwtClientTokenExpTime | quote }}
  JWT_SECRET: {{ randAlphaNum 16 | quote }}
  RESOURCE_SECRET: {{ default "admin" .Values.api.env.resourceSecret | quote }}
  MONGODB_URI: {{ .Values.api.env.mongoUri }}

  # Auth Integration 
  {{- if and .Values.api.env.bitbucketClientId .Values.api.env.bitbucketClientSecret -}}
  BITBUCKET_OAUTH_CLIENT_ID: {{ .Values.api.env.bitbucketClientId | quote }}
  BITBUCKET_OAUTH_SECRET: {{ .Values.api.env.bitbucketClientSecret | quote }}
  {{- end -}}
  {{- if and .Values.api.env.githubClientId .Values.api.env.githubClientSecret -}}
  GIT_OAUTH_CLIENT_ID: {{ .Values.api.env.githubClientId | quote }}
  GIT_OAUTH_SECRET: {{ .Values.api.env.githubClientSecret | quote }}
  {{- end -}}

  # Platform/Services Integration
  {{- if .Values.api.env.googleRecaptchaSecret -}}
  GOOGLE_RECAPTCHA_SECRET: {{ .Values.api.env.googleRecaptchaSecret | quote }}
  {{- end -}}
  {{- if .Values.api.env.switcherSlackJwtSecret -}}
  SWITCHER_SLACK_JWT_SECRET: {{ .Values.api.env.switcherSlackJwtSecret | quote }}
  {{- end -}}